[submodule "modules/android-auto-module"]
	path = modules/android-auto-module
	url = git@github.com:car-pi/android-auto-module.git
[submodule "modules/audio-module"]
	path = modules/audio-module
	url = git@github.com:car-pi/audio-module.git
[submodule "modules/ui-module"]
	path = modules/ui-module
	url = git@github.com:car-pi/ui-module.git
